In [ ]:
# Exploring data
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

race_count = df['race'].value_counts()

In [ ]:
# What is the average age of men?

df.loc[df['sex']=='Male', 'age'].mean()

39.43354749885268

In [ ]:
# What is the percentage of people who have a Bachelor's degree?

x = df.loc[df['education'] =='Bachelors','education']
(x.count()/df['education'].count())*100

16.44605509658794

In [ ]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

with_higher_education = df[df.education.isin(['Bachelors','Masters','Doctorate'])]
fiftyk = with_higher_education.loc[with_higher_education.salary ==">50K"]
greater_than_fifty_he = (fiftyk.size/with_higher_education.size)*100
print(greater_than_fifty_he)

46.535843011613935

In [ ]:
#What percentage of people without advanced education make more than 50K?

wo_higher_education = df[~df.education.isin(['Bachelors','Masters','Doctorate'])]
not_fiftyk = wo_higher_education.loc[wo_higher_education.salary == '>50K']
greater_than_fifty_le = (not_fiftyk.size/wo_higher_education.size)*100
print(greater_than_fifty_le)

17.3713601914639

In [ ]:
# What is the minimum number of hours a person works per week?

min_hours= min(df['hours-per-week'])
print(min_hours)

# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

min_hour_workers = df[df['hours-per-week'] == min(df['hours-per-week'])]
smart_workers = min_hour_workers[min_hour_workers.salary =='>50K']
smart_percent = (smart_workers.size/min_hour_workers.size)*100
print(smart_percent)

1
10.0

In [ ]:
# What country has the highest percentage of people that earn >50K and what is that percentage?

highest_price = ((df[df.salary == '>50K']['native-country']).value_counts()/df['native-country'].value_counts())*100
country_highest_price = highest_price.idxmax()
print(country_highest_price)

# Identify the most popular occupation for those who earn >50K in India.

fifty_india = df[df['native-country'] == 'India']
((fifty_india[fifty_india.salary =='>50K'].occupation).value_counts()).idxmax()

Iran

'Prof-specialty'